    {% extends "base.html" %}
    {% block title %}Lista de Libros{% endblock %}
    {% block content %}
    <h1>Lista de Libros</h1>

    <!-- Formulario de búsqueda -->
    <form method="get" class="mb-4">
      <legend>Busca tus libros preferidos por su titulo</legend>
      <div class="input-group">
        {{ form.titulo }}
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>

    <a href="{% url 'crear_libro' %}" class="btn btn-success mb-3">Crear Libro</a>
    <ul class="list-group">
      {% for libro in libros %}
        <li class="list-group-item">
          {{ libro.titulo }} - {{ libro.autor.nombre }} ({{ libro.editorial.nombre }}) - Publicado: {{ libro.fecha_publicacion }} - ISBN: {{ libro.isbn }}
        </li>
      {% empty %}
        <li class="list-group-item">No hay libros cargados.</li>
      {% endfor %}
    </ul>
    {% endblock %}
